[Unit]
Description=Netplan Configuration File Copy Support
ConditionPathExists=/etc/NetplanCopy.sh

[Service]
Type=forking
ExecStart=/etc/NetplanCopy.sh
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
